USE [master]
GO
/****** Object:  Database [TestApiDataBase]    Script Date: 12/1/2021 11:43:21 AM ******/
CREATE DATABASE [TestApiDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestApitDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestApitDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestApitDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestApitDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestApiDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestApiDataBase]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/1/2021 11:43:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[AccountType] [varchar](50) NOT NULL,
	[OwnerId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 12/1/2021 11:43:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OwnerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[Address] [varchar](200) NULL
) ON [PRIMARY]
GO
USE [master]
GO
